.vs
.idea/*
!.idea/.idea.Distri-backend/

.idea/.idea.Distri-backend/*
!.idea/.idea.Distri-backend/.idea

.idea/.idea.Distri-backend/.idea/*
!.idea/.idea.Distri-backend/.idea/runConfigurations
!.idea/.idea.Distri-backend/.idea/indexLayout.xml
!.idea/.idea.Distri-backend/.idea/vcs.xml

**/bin
**/obj
**/.vs