.vs
.idea/*
!.idea/.idea.Distri-backend/

.idea/.idea.Distri-backend/*
!.idea/.idea.Distri-backend/.idea

.idea/.idea.Distri-backend/.idea/*
!.idea/.idea.Distri-backend/.idea/runConfigurations
!.idea/.idea.Distri-backend/.idea/indexLayout.xml
!.idea/.idea.Distri-backend/.idea/vcs.xml

**/bin
**/obj
**/.vs
API/obj/project.assets.json
.idea/.idea.Distri-backend/.idea/workspace.xml
API/bin/Debug/net6.0/API.dll
API/bin/Debug/net6.0/API.pdb
API/bin/Debug/net6.0/BusinessLogic.dll
API/bin/Debug/net6.0/BusinessLogic.pdb
API/bin/Debug/net6.0/Microsoft.OpenApi.dll
API/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.g.targets
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/project.packagespec.json
API/obj/rider.project.restore.info
API/obj/staticwebassets.pack.sentinel
API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
API/obj/Debug/net6.0/API.assets.cache
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net6.0/API.dll
API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/API.genruntimeconfig.cache
API/obj/Debug/net6.0/API.pdb
BusinessLogic/bin/Debug/net6.0/BusinessLogic.dll
BusinessLogic/bin/Debug/net6.0/BusinessLogic.pdb
BusinessLogic/obj/BusinessLogic.csproj.nuget.dgspec.json
BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
BusinessLogic/obj/project.assets.json
BusinessLogic/obj/project.nuget.cache
BusinessLogic/obj/project.packagespec.json
BusinessLogic/obj/rider.project.restore.info
BusinessLogic/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BusinessLogic/obj/Debug/net6.0/BusinessLogic.assets.cache
BusinessLogic/obj/Debug/net6.0/BusinessLogic.csproj.AssemblyReference.cache
BusinessLogic/obj/Debug/net6.0/BusinessLogic.csproj.CoreCompileInputs.cache
BusinessLogic/obj/Debug/net6.0/BusinessLogic.csproj.FileListAbsolute.txt
BusinessLogic/obj/Debug/net6.0/BusinessLogic.dll
BusinessLogic/obj/Debug/net6.0/BusinessLogic.GeneratedMSBuildEditorConfig.editorconfig
BusinessLogic/obj/Debug/net6.0/BusinessLogic.pdb
.idea/.idea.Distri-backend/.idea/workspace.xml
.idea/.idea.Distri-backend/.idea/workspace.xml
