.vs
.idea/*
!.idea/.idea.PropertyFinance/

.idea/.idea.PropertyFinance/*
!.idea/.idea.PropertyFinance/.idea

.idea/.idea.PropertyFinance/.idea/*
!.idea/.idea.PropertyFinance/.idea/runConfigurations
!.idea/.idea.PropertyFinance/.idea/indexLayout.xml
!.idea/.idea.PropertyFinance/.idea/vcs.xml

**/bin
**/obj
**/.vs
